@charset "utf-8";

// Settings file.
@use "../../../../node_modules/sass-rem" as rem;
@use "../utils" as *;

.Layout {
  max-width: 1420px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
