@charset "utf-8";
// Settings file.
@use "../../../../node_modules/sass-rem" as rem;
@import "../component-settings";

.Elements {
  @include mq($from: large) {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.Img {
  max-width: 100%;
  width: 100%;
  height: auto;
  line-height: 0;
}

.Element {
  padding: rem.convert(26px);
  width: 33.33%;

  @include mq($from: large) {
  }
}

.ElementInner {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
