@use "../../../../node_modules/sass-rem" as rem;
@use "../utils" as *;

html {
  box-sizing: border-box;
  font-size: rem.convert(16px);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  color: $c_dark-gray;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.l-container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px 10px 20px;
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
}

a {
  main & {
    color: $c_teal;
  }
}

a {
  #{$a-tags-hover} {
    text-decoration: none;
  }
}

.spinner-wrap {
  width: 400px;
  height: 680px;
}

.spinner {
  animation: Object-Render infinite 1.9s linear;
  background-image: url("../../assets/svg/spinner.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  > span {
    @include visually-hidden();
  }
}

@keyframes Object-Render {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  line-height: 0;
}
